extends layout

block content

    if successMessage
        div(class="container-fluid d-flex flex-column align-items-center justify-content-center mt-5")
            h2 Success!
            p= successMessage

    if addedResults
        div(class="container-fluid d-flex flex-column align-items-center justify-content-center mt-5")
            h2 Added Results
            - const parsedResults = JSON.parse(addedResults)
            table.table.table-bordered.table-striped
                tr
                    th InPerson
                    th Hyflex
                    th Online
                tr
                    td= parsedResults.inPerson
                    td= parsedResults.hyflex
                    td= parsedResults.online

    div(class="container-fluid d-flex flex-column align-items-center justify-content-center mt-5")
        h2 All poll results
        table.table.table-bordered.table-striped
            tr
                th InPerson
                th Hyflex
                th Online
            each result in results
                tr
                    td= result.inPerson
                    td= result.hyflex
                    td= result.online

    